In [1]:
import pandas as pd

import numpy as np

Let N be the number of cities.
Let A be the adjacency matrix of 0s and 1s of the city adjacency graph (A is a size NxN matrix).
Let D be the out-degree vector of the city adjacency graph (D is a size N vector).
Let v_{0} be a vector indexed by cities (v_{0} is a size N vector).
Each v_{i} is a similar vector. All v vectors sum to 1.

/* Initialize v. */ 
for (c in 1..N)
    v_{0}(c) := 1 / N;

/* Iteratively update v until convergence. */
i := 0;
do {
    i := i + 1;
    for (c in 1..N) {
        v_{i}(c) := 0.1 / N;
        for (d in 1..N)
            v_{i}(c) := v_{i}(c) + 0.9 * A(d,c) * v_{i-1}(d) / D(d);
    }
} while (sum(abs(v_{i} - v_{i-1})) > 0.0001);

return v_{i};

In [2]:
# select distinct origin_city, dest_city from Flights;
df=pd.read_csv('Flights.csv')

In [3]:
df

           origin_city             dest_city
0            Boston MA             Austin TX
1        Cincinnati OH     Salt Lake City UT
2       Minneapolis MN           Hartford CT
3          Portland ME            Atlanta GA
4           Phoenix AZ              Miami FL
...                ...                   ...
4657         Denver CO    Fort Lauderdale FL
4658  San Francisco CA         Cincinnati OH
4659       Honolulu HI               Kona HI
4660        Kahului HI  Dallas/Fort Worth TX
4661    Minneapolis MN              Omaha NE

[4662 rows x 2 columns]

In [4]:
origin_city=df['origin_city'].unique()

dest_city=df['dest_city'].unique()

len(origin_city), len(dest_city)

(327, 326)

In [5]:
#the origin_city has one more city than dest_city
cities=list(df['origin_city'].unique())
#sort the cities list alphabetically
cities.sort() 
N=len(cities)

In [6]:
# create a n*n matrix with all zeros
A=np.zeros([N,N],dtype=int)

In [7]:
for i in range(len(df)):
    a=cities.index(df['origin_city'][i])
    b=cities.index(df['dest_city'][i])
    A[a][b]=1

In [8]:
# the adjacency matrix
A

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [9]:
outdegree=pd.read_csv('outdegree.csv')

In [10]:
outdegree.head()

             city   num
0     Aberdeen SD    62
1      Abilene TX   423
2  Adak Island AK    18
3    Aguadilla PR   265
4        Akron OH  1458

In [11]:
cities[0:5]

['Aberdeen SD', 'Abilene TX', 'Adak Island AK', 'Aguadilla PR', 'Akron OH']

CHECK THE ORDER OF THE TWO ARRAYS

In [12]:
#Let D be the out-degree vector of the city adjacency graph (D is a size N vector)
D=list(outdegree['num'])

In [13]:
def PageRank(A,D,N):
#  Initialize v.Let v_{0} be a vector indexed by cities (v_{0} is a size N vector)
    v=np.zeros([N,N],dtype=float)
    for c in range(N):
        v[0][c] = 1 / N;
    for i in range(1,N):
        for c in range(N):
            v[i][c]=0.1/N
            for d in range(N):
                v[i][c]=v[i][c]+0.9 * A[d][c]*v[i-1][d] / D[d]      
        
        jdz= sum(np.abs(v[i] - v[i-1]))
        print('iter = ', i, 'jdz = ', jdz, end='\n')
        if (jdz <= 0.0001): break
    #AS I USE BREAK, THE RESULT IS NOT ONE STEP BEYOND WE WANT. THE FORMER ONE SHOULD BE THE ANSWER.
    return v[i-1];

In [14]:
value=PageRank(A,D,N)

iter =  1 jdz =  0.8881976658178996
iter =  2 jdz =  0.01128697788142545
iter =  3 jdz =  5.848091235097382e-05

In [15]:
value

array([0.00030584, 0.00030583, 0.0003103 , 0.00030591, 0.00030605,
       0.00030583, 0.00030616, 0.00030727, 0.00030592, 0.00030596,
       0.00030584, 0.00030602, 0.00034705, 0.00030592, 0.00030934,
       0.00030596, 0.00030584, 0.00030595, 0.0003961 , 0.00030646,
       0.00030583, 0.00030771, 0.00030597, 0.00031069, 0.00030591,
       0.00030895, 0.000306  , 0.0003059 , 0.00030584, 0.00030592,
       0.00030595, 0.0003059 , 0.00030588, 0.00030686, 0.0003059 ,
       0.0003059 , 0.00030634, 0.0003161 , 0.00030603, 0.00030584,
       0.00030585, 0.0003059 , 0.00030583, 0.0003062 , 0.00030609,
       0.000306  , 0.00030583, 0.00030582, 0.00030591, 0.00030583,
       0.00030597, 0.00030587, 0.00030617, 0.00030632, 0.00030612,
       0.00031482, 0.00030588, 0.00030591, 0.00038607, 0.00030583,
       0.00030593, 0.00033929, 0.00031158, 0.00030587, 0.0003059 ,
       0.00030677, 0.00030584, 0.00030605, 0.00030583, 0.00030583,
       0.00030657, 0.00030835, 0.00030592, 0.00030652, 0.00030856,
       0.00037425, 0.00030616, 0.00030587, 0.00030808, 0.00037379,
       0.00030607, 0.00034331, 0.00031003, 0.00030584, 0.00030595,
       0.00030583, 0.00030582, 0.00030586, 0.00030588, 0.00030594,
       0.00030582, 0.00030584, 0.00030663, 0.00030583, 0.00030585,
       0.00030585, 0.00030584, 0.00030628, 0.00030591, 0.00030816,
       0.00030593, 0.00030613, 0.00030583, 0.00030582, 0.000306  ,
       0.00030583, 0.0003412 , 0.00030903, 0.00030584, 0.00030597,
       0.0003109 , 0.00030585, 0.00030583, 0.00030586, 0.00030584,
       0.00030583, 0.00030668, 0.0003063 , 0.00030589, 0.0003084 ,
       0.00030613, 0.00030609, 0.00030588, 0.00030604, 0.00030591,
       0.00030615, 0.00030582, 0.00030596, 0.00030596, 0.00030662,
       0.00030739, 0.00030588, 0.00030583, 0.00030589, 0.00031159,
       0.00030583, 0.00030598, 0.00030588, 0.00033574, 0.0006221 ,
       0.00030603, 0.00030582, 0.00030589, 0.0003067 , 0.00030963,
       0.00030582, 0.00030942, 0.00030612, 0.00030604, 0.00030606,
       0.00030656, 0.00030583, 0.00031198, 0.00030583, 0.00031661,
       0.00030702, 0.00030588, 0.00030593, 0.00030718, 0.00030941,
       0.00030585, 0.00030592, 0.00032272, 0.00030583, 0.00030612,
       0.00030595, 0.00030613, 0.00030783, 0.00030586, 0.00030594,
       0.0003059 , 0.00030606, 0.00030583, 0.0003059 , 0.00031294,
       0.00030627, 0.00030583, 0.00030583, 0.00030583, 0.00030618,
       0.0003061 , 0.00030589, 0.0003062 , 0.00030626, 0.00030583,
       0.00032881, 0.0003064 , 0.00030615, 0.00030583, 0.00030583,
       0.00030605, 0.00030614, 0.00030584, 0.00030646, 0.00030584,
       0.00030591, 0.00030588, 0.00030845, 0.00031117, 0.00031201,
       0.00030615, 0.00030653, 0.00036511, 0.00030587, 0.0003059 ,
       0.00030592, 0.00030596, 0.00030583, 0.00030593, 0.00030592,
       0.0003059 , 0.00030594, 0.00030594, 0.00030582, 0.00030582,
       0.00033049, 0.00030587, 0.00030583, 0.00030807, 0.00030583,
       0.00030584, 0.000307  , 0.00033358, 0.00031789, 0.00030593,
       0.0003059 , 0.00030623, 0.00030783, 0.00030629, 0.00030585,
       0.00030744, 0.00030626, 0.00030624, 0.00030625, 0.00032567,
       0.00030582, 0.00030582, 0.00030588, 0.00031066, 0.00030606,
       0.00030592, 0.00030584, 0.00030607, 0.00030598, 0.00030857,
       0.00030984, 0.00031516, 0.00030707, 0.00030623, 0.00030626,
       0.00030585, 0.00030603, 0.00030935, 0.00030622, 0.00030826,
       0.00030642, 0.00030583, 0.00030633, 0.00031107, 0.00030625,
       0.00030587, 0.00030589, 0.00030609, 0.00030583, 0.00030583,
       0.00031085, 0.00030588, 0.0003338 , 0.00030583, 0.00030697,
       0.00031211, 0.00033195, 0.00030709, 0.00030857, 0.00030585,
       0.00030647, 0.00030599, 0.00030586, 0.00030584, 0.00030593,
       0.00030584, 0.00030606, 0.00030591, 0.00031176, 0.00030597,
       0.00030582, 0.00030622, 0.00030671, 0.00030594, 0.00030611,
       0.00030584, 0.00030598, 0.00030749, 0.00030587, 0.00030804,
       0.00030589, 0.00030588, 0.00030605, 0.00030603, 0.00031273,
       0.00030583, 0.00030588, 0.00030843, 0.00032798, 0.00030615,
       0.00030622, 0.00030583, 0.00030583, 0.0003059 , 0.00030583,
       0.000306  , 0.00030581, 0.00030598, 0.00030583, 0.00031448,
       0.00030582, 0.00030666, 0.00030583, 0.00030619, 0.00030583,
       0.00030605, 0.00030594, 0.00030588, 0.00030588, 0.00030876,
       0.00030853, 0.00030583])

In [16]:
#Round each PageRank value to 5 decimal places.
prvalue=np.round(value,5)

In [17]:
PR=pd.DataFrame({'city':cities,'PageRank value':prvalue}).sort_values(by=['PageRank value'],ascending =False)
PR.to_csv('PageRank.csv')

# THE WHOLE DATASET

df=pd.read_csv(r'C:\\Users\yang_\OneDrive - UW\database\SQL basics\flights-small-all\flights-small-all\flights-small.csv',
                 names=['fid','month_id','day_of_month','day_of_week_id','carrier_id','flight_num','origin_city',
                        'origin_state','dest_city','dest_state','departure_delay','taxi_out','arrival_delay','canceled',
                        'actual_time','distance','capacity','price'],header=None)

df.head()