In [1]:
import pandas as pd
import numpy as np

* queries to generate q4.csv  
**select F.origin_city, F.carrier_id,count(*) as num  
from Flights F   
group by F.origin_city, F.carrier_id  
order by F.origin_city;**

In [2]:
df=pd.read_csv('q4.csv')

In [3]:
df

         origin_city carrier_id  num
0        Aberdeen SD         OO   62
1         Abilene TX         MQ  423
2     Adak Island AK         AS   18
3       Aguadilla PR         B6  186
4       Aguadilla PR         NK   17
...              ...        ...  ...
1772   Wilmington NC         EV  371
1773    Worcester MA         B6   62
1774     Wrangell AK         AS  124
1775      Yakutat AK         AS  124
1776         Yuma AZ         OO  268

[1777 rows x 3 columns]

In [4]:
cities=list(df['origin_city'].unique())
cities.sort()

carriers=list(df['carrier_id'].unique())
carriers.sort()
N=len(cities)

C=len(carriers)

In [5]:
X=np.zeros([N,C],dtype=int)

for i in range(len(df)):
    a=cities.index(df['origin_city'][i])
    b=carriers.index(df['carrier_id'][i])
    X[a][b]=df['num'][i]

In [6]:
M=X.sum(axis=0)/N

In [7]:
# cov = X'X / N - M'M
Cov=(X.T@X)/N-M.T@M

# Corr := Cov / sqrt( diag(Cov)'diag(Cov) )
# diag returns a row vector consisting of the entries on the diagonal of its input
# '/' : element-wise division
Corr=Cov/np.sqrt(np.diag(Cov).T@np.diag(Cov))

In [8]:
1 in Corr

False

There's something wrong with the formula here? Anyway I use numpy.corrcoef instead to get the assured right answer.

In [26]:
corr=np.corrcoef(X.T)

In [13]:
1 in corr

True

In [30]:
corr=corr.round(5)

In [29]:
l1=[]
l2=[]
l3=[]
for i in range(C):
    for j in range(C):
        l1.append(carriers[i])
        l2.append(carriers[j])
        l3.append(corr[i][j])

In [31]:
output=pd.DataFrame({'row carrier id':l1,'column carrier id':l2, 'correlation':l3})

In [33]:
output.to_csv('q4_correlation_carrier_id.csv')